{%- assign social = site.personal-theme.social_links -%}
<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

   <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">

          {%- if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {%- endif -%}

          {%- if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif -%}

          {%- if social.github_username -%}
            <li>
              <a rel="me" href="https://github.com/{{ social.github_username | cgi_escape | escape }}" title="{{ social.github_username | escape }}"> 
                <svg class="svg-icon grey">
                  <use xlink:href="{{ '/assets/personal-theme-social-icons.svg#github' | relative_url }}"></use>
                </svg>
                {{ social.github_username | escape }}
              </a>
            </li>
          {% endif %}

          {%- if social.linkedin_username -%}
            <li>
              <a rel="me" href="https://www.linkedin.com/in/{{ social.linkedin_username | cgi_escape | escape }}" title="{{ social.linkedin | escape }}">
              <svg class="svg-icon grey">
                <use xlink:href="{{ '/assets/personal-theme-social-icons.svg#linkedin' | relative_url }}"></use>
              </svg>
              {{ social.linkedin_username | escape }}
              </a>
            </li>
            {%- endif -%}

        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>


  </div>

</footer>